# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# apex-reviewer team will be requested for
# review when someone opens a pull request.
*      @AbhiSingh-Org/apex-reviewer

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies trigger files, only @abhishekBits04669 and not the global
# owner(s) will be requested for a review.
*.trigger    @abhishekBits04669

# In this example, @relativelyAbhi owns any file in the `/classes`
# directory in the root of your repository and any of its
# subdirectories.
/force-app/main/default/classes/ @relativelyAbhi
